  /* Style the general set up*/
  body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: white;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* Style the top navigation */
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* Style the introduction*/
  .introduction {
    font-weight: lighter;
    background-color: white;
    color:  	black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* style the links */
  #links {
    text-decoration: none; /* remove underline */
    color: black
  }

   /* Style the footer*/
   footer {
    background-color: #fff;
    color:  	black;
    font-weight: lighter;
    font-size: 12;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  
