
  body {
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    background-color: white;
    color: black;
    padding: 5px 40px 40px 40px; 
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6; 
  }

  .topnav {
    display: flex;
    font-size: large;
    justify-content: space-between;
    align-items: right;
    padding: 40px 40px 5px 5px; 
  }

  .header {
    text-align: left;
    margin-left: 40px;
  }

  .navigation-group {
    text-align: right;
  }

  .navigation {
    margin-left: 20px;
  }

  .introduction {
    font-weight: lighter;
    background-color: white;
    color: black;
    padding: 40px 40px 5px 40px; 
    flex: 1;
    max-width: 50%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
  }

  .introduction-me {
    font-weight: lighter;
    background-color: white;
    color: black;
    padding: 40px 40px 5px 40px;
    flex: 1;
    max-width: 75%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: "Aptos Mono", monospace; 
    font-weight: lighter;
    font-size: 20px;
    background-color: white;
    color: #3300FF;
  }

  h2 {
    font-family: "Aptos Mono", monospace; 
    font-weight: lighter;
    font-size: 15px;
    background-color: white;
    color: #33FF00;
  }

  h3 {
    font-family: "Nunito", sans-serif; 
    font-weight: lighter;
    font-size: 18px;
  }


  ul {
    list-style-type: disc; 
  }

  li::marker {
      color: #33ff00; 
  }


  #links {
    text-decoration: none; 
    color: black; 
  }

  #links:hover {
    text-decoration: none; 
  }


  main {
    flex: 1;
  }

  footer {
    background-color: #fff;
    color: black;
    font-weight: lighter;
    padding: 40px 40px 5px 5px; 
    margin-top: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copyright {
    font-size: 0.875em;
    margin: 0;
    text-align: left;
  }

  .footer-navigation {
    display: flex;
    align-items: center;
  }

  .footer-link {
    font-size: 0.875em;
    margin-left: 20px;
    color: #000;
    text-decoration: none;
  }

  .footer-link:first-child {
    margin-left: 0;
  }

  .footer-link:hover {
    text-decoration: underline;
  }

  .hashtag-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .column p {
    margin: 0;
    font-size: 16px;
  }

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    margin-bottom: 30px; 
  }

  .logo-container img {
    flex: 0 1 auto; 
    max-width: 48%; 
    height: auto; 
    object-fit: contain; 
    padding: 10px; 
    box-sizing: border-box; 
    max-height: 200px; 
    background-color: #fff; 
    margin-bottom: 0;
  }

  .intro-content {
    display: flex;
    align-items: flex-start; 
    gap: 60px;
  }

  .profile-image {
      width: 300px; 
      height: 300px; 
      object-fit: cover; 
      border: 20px solid #33FF00;
      margin-top: 65px; 
  }

  .intro-text {
      flex: 1; 
  }

  .introduction p {
      line-height: 1.6;
  }




/* Media query for responsive design */
@media (max-width: 768px) {
  body {
      padding: 0 20px; /* Reduce padding on smaller screens */
  }

  .topnav, .introduction, footer {
      padding: 5px 20px; /* Reduce padding on smaller screens */
  }

  .navigation-group {
      text-align: left; /* Align navigation links to the left on smaller screens */
  }

  .navigation {
      margin-left: 10px; /* Reduce margin between links */
  }
}