  /* Style the general set up*/
  body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: white;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Style the top navigation */
  .topnav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header {
    /* Styles for the header */
    text-align: left;
  }

  .navigation-group {
    /* Styles for the navigation links group */
    text-align: right;
  }

  .navigation {
    /* Styles for the individual navigation links */
    margin-left: 20px; /* Adjust spacing between links */
  }

  /* Style the introduction*/
  .introduction {
    font-weight: lighter;
    background-color: white;
    color:  	black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* style the links */
  #links {
    text-decoration: none; /* remove underline */
    color: black
  }

  /* Style the main content area to take remaining space */
  main {
    flex: 1;
  }

   /* Style the footer*/
   footer {
    background-color: #fff;
    color:  	black;
    font-weight: lighter;
    font-size: 10;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: auto;
  }

  
